In [1]:
import pandas as pd
import statsmodels.api as sm

# Load the dataset
data = pd.read_excel("Diabetes_prediction.xlsx")

data.head()

,EmployeeName,gender,age,hypertension,heart_disease,smoking_history,bmi,HbA1c_level,blood_glucose_level,diabetes
0,NATHANIEL FORD,Female,80.0,0,1,never,25.19,6.6,140,0
1,GARY JIMENEZ,Female,54.0,0,0,No Info,27.32,6.6,80,0
2,ALBERT PARDINI,Male,28.0,0,0,never,27.32,5.7,158,0
3,CHRISTOPHER CHONG,Female,36.0,0,0,current,23.45,5.0,155,0
4,PATRICK GARDNER,Male,76.0,1,1,current,20.14,4.8,155,0

In [2]:
data.dtypes

EmployeeName            object
gender                  object
age                    float64
hypertension             int64
heart_disease            int64
smoking_history         object
bmi                    float64
HbA1c_level            float64
blood_glucose_level      int64
diabetes                 int64
dtype: object

In [3]:
data['gender_id'] = data['gender'].apply(lambda x : 1 if x == 'Male' else 2)

In [4]:
data.head(5)

,EmployeeName,gender,age,hypertension,heart_disease,smoking_history,bmi,HbA1c_level,blood_glucose_level,diabetes,gender_id
0,NATHANIEL FORD,Female,80.0,0,1,never,25.19,6.6,140,0,2
1,GARY JIMENEZ,Female,54.0,0,0,No Info,27.32,6.6,80,0,2
2,ALBERT PARDINI,Male,28.0,0,0,never,27.32,5.7,158,0,1
3,CHRISTOPHER CHONG,Female,36.0,0,0,current,23.45,5.0,155,0,2
4,PATRICK GARDNER,Male,76.0,1,1,current,20.14,4.8,155,0,1

In [5]:
data['smoking_history'].unique()

array(['never', 'No Info', 'current', 'former', 'ever', 'not current'],
      dtype=object)

In [6]:
def has_smoked(sh):
    if(sh in ['never','No Info']):
        return 0
    else: 
        return 1

In [7]:
data['has_smoked'] = data['smoking_history'].apply(lambda x : has_smoked(x))

In [8]:
data.tail(10)

,EmployeeName,gender,age,hypertension,heart_disease,smoking_history,bmi,HbA1c_level,blood_glucose_level,diabetes,gender_id,has_smoked
99990,Armando A Aguilar,Male,39.0,0,0,No Info,27.32,6.1,100,0,1,0
99991,Sandra A May,Male,22.0,0,0,current,29.65,6.0,80,0,1,1
99992,James B Roberson,Female,26.0,0,0,never,34.34,6.5,160,0,2,0
99993,Ruth S Bacuyani,Female,40.0,0,0,never,40.69,3.5,155,0,2,0
99994,Jessica K Aldaz,Female,36.0,0,0,No Info,24.60,4.8,145,0,2,0
99995,William Chun,Female,80.0,0,0,No Info,27.32,6.2,90,0,2,0
99996,Antoinette L Wells,Female,2.0,0,0,No Info,17.37,6.5,100,0,2,0
99997,Richard D Swart,Male,66.0,0,0,former,27.83,5.7,155,0,1,1
99998,Vivian Chu,Female,24.0,0,0,never,35.42,4.0,100,0,2,0
99999,Savitree Satram,Female,57.0,0,0,current,22.43,6.6,90,0,2,1

In [12]:
# Define the input variables
X = data[['gender_id','age','bmi','blood_glucose_level','HbA1c_level','hypertension','heart_disease','has_smoked']]

# Define the target variable
y = data['diabetes']

# Train the logistic regression model
model = sm.Logit(y, X).fit()

# Extract the coefficients and intercept
coefficients = model.params[1:]
intercept = model.params[0]

# Print the coefficients and intercept
print("Logistic Regression Coefficients:", coefficients)
print("Logistic Regression Intercept:", intercept)

Optimization terminated successfully.
         Current function value: 0.269306
         Iterations 7
Logistic Regression Coefficients: age                    0.018658
bmi                   -0.094857
blood_glucose_level    0.012716
HbA1c_level           -0.011657
hypertension           1.251361
heart_disease          0.764262
has_smoked             0.055929
dtype: float64
Logistic Regression Intercept: -1.738933225384652

In [10]:
data.dtypes

EmployeeName            object
gender                  object
age                    float64
hypertension             int64
heart_disease            int64
smoking_history         object
bmi                    float64
HbA1c_level            float64
blood_glucose_level      int64
diabetes                 int64
gender_id                int64
has_smoked               int64
dtype: object